DB_USERNAME=travios
DB_PASSWORD=travios
DB_HOST=localhost
DB_DATABASE=travios
DB_PORT=5432
PORT=3000
API_HOST=localhost:3000
DB_URI=postgresql://travios:travios@localhost:5432/travios?sslmode=disable
JWT_SECRET=if-you-can-hack-us-you-can-join-us
JWT_EXPIRATION=24
